body {
    font-family: Calibri, sans-serif;
    background-color: #405952;
    color: #9c9b7a;
}

#container {
    text-align: center
}

table {
    border-collapse: collapse;
    font-size: 2em;
    margin: 0 auto;
    background-color: #ffd393;
}

colgroup,
tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
    color: #405952;
}

button {
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #ffd393;
}

padd {
    padding-bottom: 100px;
}

h1 {
    color: #ffd393;
}